.div1
{
    height: 150vh;
    background-color: black;
}

.img1
{
    margin-left: 450px;
    height: 30vh;
    
    
    
}

.img2
{
    margin-left: 450px;
    height: 40vh;
}

.div2
{
    margin-left: 450px;
    height: 18vh;
    width: 18vw;
    background-color: lightgrey;
    border-radius: 20px;
    margin-top: 30px;
}

.btn1
{
    border-radius: 20px;
    width: 60px;
    margin-left: 30px;
    margin-top: 30px;
}

.h1
{
    font-size: 27px;
    color: blue;
    text-align: center;

}
