.btn1
{
    background-color: #4298f5;
}

.btn2
{
    background-color: #4298f5;
}
.btn3
{
    background-color: #4298f5;
}
.btn4
{
    background-color: #4298f5;
}

.div1
{
    height: 70vh;
    width: 25vw;
    margin-left: 500px;
    border-radius: 50px;
    background-color: lightsalmon;
}

.h11
{
    text-align: center;
}

.div2
{
    margin-left: 100px;
}